.app-background { 
  min-height: 100vh;
  background: #f5f7fa; 
}

/* Fading in and out effect */
.alert-fade { 
  opacity: 0; 
  transition: opacity 0.6s ease-in-out; 
} 

.alert-fade.show { 
  opacity: 1; 
}

/* title for modal */
.pickedModalTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Georgia", serif;   /* or any font you prefer */
  color: #b22222;                  /* deep red, looks cinematic */
  text-align: center;
}
